@import "tailwindcss";

/* Light font-family */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/public/fonts/Inter-Light.ttf");
}

/* Regular font-family */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/public/fonts/Inter-Regular.ttf");
}

/* Medium font-family */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/public/fonts/Inter-Medium.ttf");
}

/* Semibold font-family */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/public/fonts/Inter-SemiBold.ttf");
}

/* Bold font-family */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/public/fonts/Inter-Bold.ttf");
}

@theme {
}
